<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% block qnatable %} {% if user and user.userId %}{% for qna in qna %}
        <a href="/qna/{{qna.qnaNum}}">돌아가기</a>
        <form action="/qna/{{qna.qnaNum}}/edit" method="POST">
            <table>
                <tr>
                    <td>
                        제목 :
                        <input
                            type="text"
                            name="title"
                            value="{{qna.qnaTitle}}"
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        내용 :
                        <textarea
                            name="content"
                            cols="30"
                            rows="10"
                            style="resize: none"
                        >
{{qna.qnaContent}}</textarea
                        >
                    </td>
                </tr>
            </table>
            <button type="submit">수정하기</button>
            {% endfor %} {% else %}
            <a href="/qna">돌아가기</a>
            {% endif %}
        </form>

        {% endblock %}
    </body>
</html>
