<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>User list</title>
    </head>
    <body>
        <table style="border: 1px solid black">
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <% user.forEach(function (value) { %>
            <tr>
                <td><%= value.className %></td>
                <td><%= value.classContent %></td>
                <td><a href="/edit/<%= value.id %>">수정</a></td>
                <td><a href="/delete/<%= value.id %>">삭제</a></td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>
