{% extends 'mypage.html' %} {% block detailcontent %}
<h1>내 정보 수정.</h1>
<form action="resetinfo" method="post">
    <fieldset>
        <legend>내 정보 수정</legend>
        <tr>
            <th>아이디</th>
            <td id="userid" name="userid">{{user.userId}}</td>
        </tr>
        <br />

        <tr>
            <th>현재 비밀번호</th>
            <td><input id="userpwd" type="password" name="userpwd" /></td>
            <br />
            <th>새 비밀번호</th>
            <td>
                <input id="newpassword" type="password" name="newpassword" />
            </td>
            <br />
            <th>새 비밀번호</th>
            <td>
                <input
                    id="newpassword2"
                    type="password"
                    name="newpassword2"
                /><span class="msg"></span>
            </td>
        </tr>
        <br />
        <tr>
            <th>이름</th>
            <td id="username" name="username">{{user.userName}}</td>
        </tr>
        <br />
        <tr>
            <th>전화번호</th>
            <td>
                <input
                    id="usertel"
                    type="tel"
                    value="{{user.userTel}}"
                    name="usertel"
                />
            </td>
        </tr>
        <br />
        <tr>
            <th>주소</th>
            <td>
                <input
                    id="usermail"
                    type="email"
                    value="{{user.userMail}}"
                    name="usermail"
                />
            </td>
        </tr>
        <br />
    </fieldset>
    <button type="submit">수정완료</button>
</form>
{% endblock %} {% block script %}
<script>
    let newpwToken;
    const newpw = document.getElementById("newpassword");
    const newpw2 = document.getElementById("newpassword2");
    const msg = document.querySelectorAll(".msg");
    newpw.addEventListener("keyup", checkPwd1);
    newpw2.addEventListener("keyup", checkPwd2);


    function checkPwd1() {
        let regPwd = /^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{6,20}$/;

        if (!regPwd.test(newpw.value)) {
            msg[0].innerHTML =
                "6~20자 영문 대/소문자에 숫자 또는 특수문자를 포함해주세요.";
            msg[0].style.color = "red";
            msg[0].style.display = "block";
            pwdToken = false;
        } else {
            msg[0].style.display = "none";
            pwdToken = true;
        }
    }

    function checkPwd2() {
        let regPwd = /[a-zA-Z0-9~!@#$%^&*()_+|<script>?:{}]{8,16}/;
        if (!regPwd.test(newpw2.value)) {
            msg[1].innerHTML =
                "8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.";
            msg[1].style.color = "red";
            msg[1].style.display = "block";
            newpwToken = false;
        } else if (newpw.value !== newpw2.value) {
            msg[1].style.display = "none";
            msg[1].innerHTML = "비밀번호가 일치하지 않습니다.";
            msg[1].style.color = "red";
            msg[1].style.display = "block";
            newpwToken = false;
        } else {
            msg[1].style.display = "none";
            //내정보수정 지운거
            newpwToken = true;
        }
    }
</script>

{% endblock %}
